:root {
    --queenBlue: #577590;
    --mintCream: #F0F7EE;
    --darkMossGreen: #3F612D;
    --claret: #6D1A36;
    /* --russianViolet: 240B36; */
}

img {
    width: 100%;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: var(--mintCream);
    color: var(--claret);
}

header {
    width: 100%;
    background-color: var(--queenBlue);
    padding: 1.5%; 
    color: var(--claret);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

header h1 {
    /* display: inline-block; */
    font-size: 200%;
    /* background-color: var(--mintCream); */
}

header nav {
    margin-right: 2%;
    margin-top: 2%;
    font-size: 20px;
}

nav ul li {
    display: inline-block;
    margin-left: 25px;
    font-weight: bold;
}

#photo-header {
    height: 200px;
    width: 100%;
    position: relative;
    /* display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: space around; */
}

/* #photo-header img {
    width: 100%;
} */

#background {
    width: 100%;
    position: relative;
    z-index: -3;
}

#self-photo {
    width: 30%;
    position: absolute;
    top: 3%;
    left: 2%;
    padding: 0;
    z-index: 2;
}
#subtitle {
    position: absolute;
    top: 20%;
    right: 5%;
    z-index: 2;
}


#subtitle h2 {
    font-size: 120%;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: stretch;

}

.left {
    height: 100%;
}

h2 {
    font-size: 150%;
    color: var(--claret);
    height: 100%;
}

#about-me {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    align-content: space around;
    /* flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between; */
}    

#about-me .left {
    width: 22%;
    height: 100%;
    /* align-self: center; */
    padding: 1%;
    margin: 0;
}

#about-me .right {
    width: 78%;
    padding: 1%;
    margin: 0.75%;
    border-left: 5px solid var(--claret);
}

#work {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    align-content: space around;
}    

#work .left {
    width: 22%;
    height: 100%;
    /* align-self: center; */
    padding: 1%;
    margin: 0;
}

#work .right {
    padding: 1%;
    margin: 0.75%;
    width: 78%;
    border-left: 5px solid var(--claret);
}

#pics {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    align-content: space around;
}

#row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: space around;
}

#row3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    align-content: space around;
}

#bigbox, .regbox {
    border: 5px solid var(--queenBlue);
    margin: 1%;
}

#contact-me {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    align-content: space around;
}    

#contact-me .left {
    width: 22%;
    height: 100%;
    align-self: center;
    padding: 1%;
    margin: 0;
}

#contact-me .right {
    padding: 1%;
    margin: 0.75%;
    border-left: 5px solid var(--claret);
}

#resume {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    align-content: space around;
}    

#resume .left {
    width: 22%;
    height: 100%;
    align-self: center;
    padding: 1%;
    margin: 0;
}

#resume .right {
    padding: 1%;
    width: 78%;
    border-left: 5px solid var(--claret);
    margin: 0.75%;
}

@media screen and (max-width: 992px) {
    header {
        background-color: var(--darkMossGreen);
    }
}

@media screen and (max-width: 768px) {
    header {
        background-color: yellow;
    }
    #row2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space around;
    }
    #row3 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        align-content: space around;
    }
    .regbox {
        width: 50%;
    }
    .regbox a {
        justify-items: center;
    }
}